#!/bin/bash

#main directory
sMainDir=/home/jladau/Desktop/covid-19-microbiome/final-version

#directory with results
sResultsDir=$sMainDir/results

#directory with raw data
sRawDataDir=$sMainDir/raw-data

#------------------------------------------------
#LOCAL PATHS	

#directory with compiled java jar files
sJavaDir=/home/jladau/Documents/Research/Java

#directory with utility scripts
sScriptsDir=/home/jladau/Documents/Research/Scripts/Utilities
#------------------------------------------------

#------------------------------------------------
#FORMATTED DATA PATHS

#ifr estimates
sIFREstimatesPath=$sResultsDir/ifr-estimation-johns-hopkins-through-february-2021/formatted-covid-data.db

#directory with ifr estimates by month
sIFREstimatesDir=$sResultsDir/ifr-estimation-johns-hopkins-through-february-2021

#r0 estimates path
sR0EstimatesPath=$sResultsDir/r-naught-estimation/r0-estimates.csv

#taxon abbreviations
sTaxonAbbreviationsPath=$sResultsDir/taxon-abbreviations/taxon-abbreviations.csv	

#paired (idoor-outdoor) ifr and r0 estimates directory
sPairedDataDir=$sResultsDir/compile-covid-data

#paired (indoor-outdoor) ifr and r0 estimates path
sPairedDataPath=$sResultsDir/compile-covid-data/compiled-covid-data-2020-03-01_2020-10-31-paired.csv

#list of homes with both indoor and outdoor data
sSamplesWithCompleteDataPath=$sResultsDir/samples-with-complete-data/samples-with-complete-data.csv

#abundances and prevalences of taxa
sAbundancePrevalencePath=$sResultsDir/taxon-abundance-prevalence/taxon-abundance-prevalence.csv

#path to list of taxa that are correlated for validation analysis data simulation
sValidationCorrelatedTaxaPath=$sResultsDir/validation-data/correlated-taxa.csv

#path to list of taxon pairs with high correlations
sCorrelatedTaxonPairsPath=$sResultsDir/taxon-correlation-clusters/correlated-taxon-pairs.csv

#directory containing validation data sets
sValidationDataDir=$sResultsDir/validation-data

#path to file listing taxa selected by hierarchical partitioning
sSelectedTaxaPath=$sResultsDir/hierarchical-partitioning/selected-taxa.csv

#path to file listing standardized effect sizes from hierarchical partitioning
sHierarchicalPartitioningSESPath=$sResultsDir/hierarchical-partitioning/standardized-effect-sizes.csv

#path to file giving groupings map for all taxa
sTaxonGroupsAllTaxaPath=$sResultsDir/groups-map-all-taxa/taxon-groups-all-taxa.csv

#path to file giving groupings map for selected taxa
sTaxonGroupsSelectedTaxaPath=$sResultsDir/groups-map-selected-taxa/taxon-groups-selected-taxa.csv

#path to file giving groupings map for selected taxa minus Tox1500
sTaxonGroupsSelectedTaxaPathNoTox1500=$sResultsDir/groups-map-selected-taxa/taxon-groups-selected-taxa-no-tox1500.csv

#path to file giving inferred and actual associations for validation data
sValidationAssociationsPath=$sResultsDir/hierarchical-partitioning-validation/associations.db

#path to file giving clusters for taxa selected via hierarchical partitioning
sSelectedClustersPath=$sResultsDir/hierarchical-partitioning/selected-taxa-clusters.csv

#path to database giving the effects for each group of selected taxa
sEffectsDBPath=$sResultsDir/effects-and-interactions/effects.db

#path to database giving interactions between selected taxa (along with significance)
sInteractionsDBPath=$sResultsDir/effects-and-interactions/interactions.db

#path to file listing taxa passing prevalence threshold
sTaxaPassingPrevalencePath=$sResultsDir/taxon-abundance-prevalence/taxa-passing-prevalence-threshold.csv

#path to merged beta-diversity measurements (infection fatality rate estimates also included)
sBetaDiversityAllTaxaPath=$sResultsDir/print-beta-diversity-data/beta-diversity-data-merged-all-taxa.csv
#------------------------------------------------

#------------------------------------------------
#RAW DATA PATHS

#file with data on immigration and emigration for each county
sMigrationDataPath=$sRawDataDir/figure-population-transience/raw-data/CtyxCty_US.txt

#file with population data
sPopulationDataPath=$sRawDataDir/ifr-estimation-johns-hopkins-through-february-2021/raw-data/co-est2019-alldata.csv

#file with raw covid data at the state level
sRawStateDataPath=$sRawDataDir/ifr-estimation-johns-hopkins-through-february-2021/raw-data/all-states-history.csv

#file with state population data
sStatePopulationDataPath=$sRawDataDir/ifr-estimation-johns-hopkins-through-february-2021/raw-data/co-est2019-alldata.csv

#file with postal codes to county map
sPostalCodesPath=$sRawDataDir/ifr-estimation-johns-hopkins-through-february-2021/raw-data/postal-codes.csv

#file with county mortality
sCountyMortalityPath=$sRawDataDir/ifr-estimation-johns-hopkins-through-february-2021/raw-data/time_series_covid19_deaths_US-no-commas.csv

#file with county cases
sCountyCasesPath=$sRawDataDir/ifr-estimation-johns-hopkins-through-february-2021/raw-data/time_series_covid19_confirmed_US-no-commas.csv

#microbial data
sBIOMPath=/home/jladau/Documents/Research/Data/Microbial_Community_Samples/Homes.UnitedStates.Fungi.Barberan10k.biom 
#------------------------------------------------

#------------------------------------------------
#SETTINGS

#start dates for compiling ifr estimates
rgsStartDates=('2020-03-01' '2020-03-01' '2020-07-01' '2020-03-01' '2020-12-04' '2020-03-01' '2020-04-01' '2020-05-01' '2020-06-01' '2020-07-01' '2020-08-01' '2020-09-01' '2020-10-01' '2020-11-01' '2020-12-01' '2021-01-01')

#end dates for compiling ifr estimates
rgsEndDates=('2020-10-31' '2020-06-30' '2020-10-31' '2021-02-15' '2021-01-08'  '2020-03-31' '2020-04-30' '2020-05-31' '2020-06-30' '2020-07-31' '2020-08-31' '2020-09-30' '2020-10-31' '2020-11-30' '2020-12-31' '2021-01-31')

#window size for ifr calculations
iWindowSize=7

#overall time window for calculating ifr 2020-03-01 -- 2021-02-15
iTimeStart=2458909
iTimeEnd=2459260

#start dates for r0 estimates
rgsR0StartDates=('2020-03-01')

#end dates for r0 estimates
rgsR0EndDates=('2020-10-31')

#prevalence threshold above which taxa are considered for significant effects
iPrevalenceThreshold=1500

#number of null iterations to use for hierarchical partitioning
iNullIterationsHierarchical=100

#number of orderings to use for hierarchical partitioning
iOrderingsHierarchical=100

#taxon rank
sTaxonRank=genus

#initial prevalence threshold for hierarchical partitioning (1500 for otus, 0 for genera)
iPrevalenceThresholdInitial=0

#start dates for time-dependent ifr vs beta-diversity analysis
rgsIFRBetaStartDates=('2020-04-01' '2020-05-01' '2020-06-01' '2020-07-01' '2020-08-01' '2020-09-01' '2020-10-01' '2020-11-01' '2020-12-01' '2021-01-01')

#end dates for time-dependent ifr vs beta-diversity analysis
rgsIFRBetaEndDates=('2020-04-30' '2020-05-31' '2020-06-30' '2020-07-31' '2020-08-31' '2020-09-30' '2020-10-31' '2020-11-30' '2020-12-31' '2021-01-31')

#number of dates for ifr vs beta-diversity analysis
iDates=10
#------------------------------------------------
